.container {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  margin-right: 20px;
  margin-top: 10px;
}
